/* General Styles */

* {
    font-family: sans-serif;
    cursor: default;
}

body {
    background-color: #fefefe;
    margin: 0;
}

input{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: #aaa 2px 2px 7px;
    margin: .4em;
}

.err {
    color: red !important;
    height: .9rem;
}

.psa {
    color: #3333dd !important;
    text-align: center;
    font-size: .8rem;
}

/* -- Header Bar Styles -- */
.header-container{
    width: 100%;
    height: 4em;
    background-color: #f3f1ff;
    display: grid;
    grid-template-columns: 70% 30%;
    box-shadow: #666 -6px 0px 10px;
}

.header-title {
    font-family: 'Courier New', Courier, monospace !important;
    padding-top: 0.2em;
    padding-left: 10px;
    font-size: 2.5rem;
    width: fit-content;
    text-decoration: none;
    color: #343434;
    opacity: 0.7;
    transition: .05s ease;
}

.header-title:hover {
    cursor: pointer !important;
    opacity: 1;
    padding-left: 20px;
}

.header-user {
    height: 100%;
    padding-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-column: 2;
}

.header-user * {
    margin: 0 10px;
}

.header-user p {
    font-size: 1.2rem;
    font-family: monospace !important;
    color: #666;
}

.header-button {
    border: none;
    text-decoration: none;
    color: #343434;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #dfd7ee;
    transition: 0.02s ease;
}

.header-button:hover {
    cursor: pointer !important;
    color: #232399;
    background-color: #aaaaff;
    transform: scale(1.1);
}

.logout:hover {
    color: #992323 !important;
    background-color: #ffaaaa !important;
}

/* -- NOT FOUND Styles -- */
.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notfound-h {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 3rem;
    font-weight: bold;
    color: #343434
}

.notfound-p {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.5rem;
    font-weight: bold;
    color: #565656
}
.notfound-text {
    font-family: monospace !important;
    font-size: 1.1rem;
    color: #565656
}

.notfound-link {
    border: none;
    text-decoration: none;
    color: #343434;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #dedede;
    transition: 0.02s ease;
}

.notfound-link:hover {
    cursor: pointer !important;
    color: #232399;
    background-color: #aaaaff !important;
    transform: scale(1.1);
}

/* -- AUTHENTICATION SITES STYLES --  */
/* - Both login and signup pages utilize these styles - */

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-requirement {
    padding: 0.7em 3em;
    background-color: #cdcdcd;
    border-radius: 10px;
}

.auth-requirement h4{
    text-align: center;
}

.auth-form {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 2em 0;
}

.auth.form input{
    padding: 10px 20px;
    margin: .4em;
}

/* Home styling */
.home-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0;
    background-color: #464253;
}

.home-title{
    color: #b599ff;
    font-size: 3rem;
    margin-bottom: .5em;
}

.home-description{
    margin: .2em auto 1em auto;
    color: #fcfcfc;
    font-weight: bold;
}

.unlogged {
    margin: 2em auto;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: #c3c3db;
}

.user-section-header {
    width: 100%;
    background-color: #dcd5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.user-section-welcome {
    line-height: 2rem;
    padding: 0;
    font-size: 3rem;
    color: #343434;
    margin-bottom: 1em;
}

.user-section-lootboxes {
    font-size: 1.4rem;
    color: #997a1b;
    font-weight: bold;
}

.user-section-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 0;
}

.openloot-btn{
    font-size: 2.4em;
    padding: 1em;
}

.openloot-btn:hover{
    background-color: #cdba80 !important;
    color: #332b0f;
}

.collection-btn{
    font-size: 2.4em;
    padding: 1em;
}

.collection-btn:hover{
    background-color: #bca2e2 !important;
    color: #191334;
}

/* Lootbox Styling */

.loot-container{
    width: 100%;
    padding: 2em 0;
}

.loot-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loot-header p{
    margin-top: 0;
}

.loot-title{
    line-height: 1em;
    color: #343434;
    margin-bottom: 0;
}

.time-fragments {
    font-size: 1.4rem;
    color: #157bad;
    font-weight: bold;
}

.purchase-box {
    border: none;
    text-decoration: none;
    color: #343434;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #b6e1fa;
    transition: 0.02s ease;
}

.purchase-box:hover {
    cursor: pointer !important;
    color: #232399;
    background-color: #aaaaff;
    transform: scale(1.1);
}

.box-reward {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    margin: 2em;
    padding: 2em 4em;
    border: none;
    transition: .1s ease;
    font-size: 2rem;
    font-weight: bold;
    background-color: #cdba80 !important;
    color: #332b0f;
}

.box:hover {
    cursor: pointer !important;
    transform: scale(1.1);
}

.reward-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reward{
    box-shadow: #ccc 0 0 10px;
    width: 25%;
    padding: 1.5em;
    margin: 4em auto;
}

.r{
    background-color: #a4c3ff !important;
}

.sr{
    background-color: #cda5f1 !important;
    box-shadow: #e46fff 0 0 20px;
}

@keyframes bob {
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

.ssr{
    animation: bob infinite ease-in-out 2s;
    background-color: #ffde87 !important;
    box-shadow: #ffe659 0 0 20px;
}

.ssr-text{
    background-color: #ffde87 !important;
    box-shadow: #ffe659 0 0 20px;
}

.ra-text {
    padding: 5px 10px;
}

.another-box {
    margin: 1em auto;
    width: fit-content;
    padding: 1em 4em;
    border: none;
    transition: .1s ease;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #cdba80 !important;
    color: #332b0f;
}

.another-box:hover {
    cursor: pointer !important;
    transform: scale(1.1);
}

.center {
    display: flex;
    align-items: center;
}

/* Collection and list styles */
.collection-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.empty-coll {
    margin: 4em auto;
    padding: 3em;
}

.mill-btn {
    border-style: none;
    padding: 1em 2em;
    background-color: #9eecff;
    color: #097193;
    font-weight: bold;
    transition: .1s ease;
}

.mill-btn:hover {
    cursor: pointer !important;
    transform: scale(1.2);
}

/* Notification styling */
@keyframes fadeout {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.notification{
    position: fixed;
    z-index: 999; /* Top layer */
    width: fit-content;
    height: fit-content;
    right: 1em;
    bottom: 1em;
    padding: 1em;
    background-color: #ffff91;
    color: #343434;
    font-weight: bold;
    animation: fadeout 3s ease-in forwards;
}